@import "_variables.scss";

body {
    height: 98vh;
    background: linear-gradient(to top right, skyblue, midnightblue);
    @include flex (column, space-around);
    align-content: space-around;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#scoreBoard {
    color: yellow;
    position: relative;
    @media only screen and (min-width: 480px) {
        position: absolute;
        font-size: larger;
    }
}

table {
    font-size: larger;
}

th {
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
    text-decoration: underline;
    text-shadow: 1px 1px black;
    color: white;
    width: fit-content;
    border-radius: 36px;
    padding: 12px 16px;
}    

#coin {
    @include flex (row, center);
    height: fit-content;
    transform-style: preserve-3d;
}

.spinAnim {
    animation: spin .2s linear 8, moveUp 1.6s linear 1;
}

@keyframes spin {
    from {}
    to {
        transform: rotateX(180deg);
    }
}

@keyframes moveUp {
    50% {
        margin-top: -350px;
    }    
    100% {
        margin-top: 0%;
    }
}

#heads {
    margin: 15% auto;
    @include coinShape(gold);
    @include flex (row, center);
    align-items: center;
    position: absolute;
}

.eye {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: white;
    margin: 10%;
    @include flex (row, center);
    align-items: center;
}

.pupil {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: black;
}

.mouth {
    width: 80px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0  black;
    position: absolute;
    margin-top: 80px;
}

#tails {
    margin: 15% auto;
    @include coinShape(white);
    @include flex (row, center);
    background-image: url('./../assets/tails.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: hidden;
    opacity: 0;
}

button {
    border-radius: 24px;
    filter:drop-shadow(3px 3px 3px black);
    width: fit-content;
    padding: 8px 16px;
    font-size: larger;
    font-weight: bold;
}    

#buttons {
    @include flex (row, center);
    gap: 56px;
}    

#buttons {
    position: fixed;
    bottom: 10%;
    width: 100%;
}

footer {
    background-image: url('./../assets/GreenHill.png');
    position: fixed;
    bottom: 0;
    left: 0;
    height: 391px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}