@import "_mixins.scss";

* {
    font-family: 'VT323', monospace;
}

body {
    height: 98vh;
    background: linear-gradient(to top right, skyblue, midnightblue);
    @include flex (column, space-around);
    align-content: space-around;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    @include flex (row, center);
    height: 7vh;
    @media only screen and (min-width: 700px) {
        height: 12vh;
    }
    @media only screen and (min-width: 900px) {
        height: auto;
    }
}

#scoreBoard {
    color: yellow;
    position: relative;
    @media only screen and (min-width: 480px) {
        position: absolute;
    }
}

table {
    font-weight: bold;
    font-size: larger;
    @media only screen and (min-width: 1200px) {
        font-size: x-large;
        font-weight: bolder;
    }
}

th {
    font-weight: 900;
    text-decoration: underline;
}

td {
    font-weight: 900;
}

.counter {
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
    text-decoration: underline;
    text-shadow: 1px 1px black;
    color: white;
    width: fit-content;
    border-radius: 36px;
    padding: 12px 16px;
}    

#coin {
    @include flex (row, center);
    height: fit-content;
    transform-style: preserve-3d;
}

.spinAnim {
    animation: spin .2s linear 8, moveUp 1.6s linear 1;
}

@keyframes spin {
    from {}
    to {
        transform: rotateX(180deg);
    }
}

@keyframes moveUp {
    50% {
        margin-top: -350px;
    }    
    100% {
        margin-top: 0%;
    }
}

#heads {
    margin: 15% auto;
    @include coinShape(LightBlue);
    position: absolute;
    background-image: url('./../assets/images/sonic.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 100% left 70%;
}

#tails {
    margin: 15% auto;
    @include coinShape(khaki);
    @include flex (row, center);
    background-image: url('./../assets/images/tails.png');
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: hidden;
    opacity: 0;
}

button {
    border-radius: 24px;
    filter:drop-shadow(3px 3px 3px black);
    width: fit-content;
    padding: 8px 16px;
    font-size: x-large;
    @media only screen and (min-width: 1200px) {
        font-size: xx-large;
    }
}    

#buttons {
    @include flex (row, center);
    gap: 56px;
}    

#buttons {
    position: fixed;
    bottom: 10%;
    width: 100%;
}

#greenHill {
    background-image: url('./../assets/images/greenHill.png');
    position: fixed;
    bottom: 0;
    left: 0;
    height: 256px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}