@import "_variables.scss";

body {
    height: 100%;
    background: linear-gradient(to top right, skyblue, midnightblue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex (column, center);
    align-content: space-around;
}

#coin {
    @include flex (row, center);
    height: fit-content;
}

.spinAnim {
    animation: spin .2s linear 5;
}

@keyframes spin {
    from {}
    to {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

#scoreBoard {
    color: yellow;
    position: relative;
    font-size: medium;
    @media only screen and (min-width: 480px) {
        position: absolute;
        font-size: larger;
    }
}

.scoreText {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    margin: auto;
    text-decoration: underline;
    text-shadow: 1px 1px black;
    color: white;
    width: fit-content;
    border-radius: 36px;
    padding: 12px 16px;
}    

#heads {
    margin: 15% auto;
    @include coinShape(gold);
    @include flex (row, center);
    align-items: center;
    position: absolute;
}

.eye {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: white;
    margin: 10%;
    @include flex (row, center);
    align-items: center;
}

.pupil {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: black;
}

.mouth {
    width: 80px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0  black;
    position: absolute;
    margin-top: 80px;
}

#tails {
    margin: 15% auto;
    @include coinShape(white);
    @include flex (row, center);
    background-image: url('./../assets/tails.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

button {
    border-radius: 24px;
    filter:drop-shadow(3px 3px 3px black);
    width: fit-content;
    padding: 8px 16px;
    font-size: larger;
    font-weight: bold;
}    

#buttons {
    @include flex (row, center);
    gap: 56px;
}    
